*{
    margin: 0;
}

.header{
    background-image: url(images/header-img-opacity.jpg);
    background-color: rgb(0, 22, 48);
    height: 100vh;
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.headerText{
    color: white;
    text-align: center;
}

.whyUs{
    background-color: #157347;
    color: white;
}

.row h1{
    font-weight: 900;
    font-size: 80px;
}

.placeOrder{
    background-color: #ffc517;
}